.main {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100vw;
    height: 100vh;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #0052D4, #65C7F7, #9CECFB);/*  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.dialogbox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    width: 60%;
    min-width: 400px;
    padding: 2rem 4rem;
    border-radius: 25px;
    /* border: 2px solid grey; */
}

.buttonstyle {
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #0052D4, #65C7F7, #9CECFB);/*  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    padding: 0.6rem;
    width: 60%;
}

.h1 {
    color: slategray;
    padding-bottom: 2rem;
}

.p {
    color: grey;
    padding-bottom: 2rem;
    font-size: 20px;

}