.form {
    max-width: 80%;
    /* display: flex;
    flex-flow: column nowrap; */
    /* border: 2px solid salmon; */
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    margin: 4rem auto;
    border-radius: 20px;
}


.redtext {
    color: red;
}